<!DOCTYPE html>
<html>
<head>
<title>This is the title</title>
</head>
<img src="http://www.fredgleeck.com/wp-content/uploads/2013/04/info-marketing-site-homepage.png" alt="Mountain View" style="width:width;height:228px;">

<body style="background-color:powderblue;">
<h2>This is the Homepage</h2>
<p>This is the paragraph body</p>
</body>

<hr>
<%= link_to 'About', about_path %>
  
</html>